
    .product-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.product-about .title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.product-about .product-title {
    color: var(--title);
    font-family: var(--title-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: capitalize;
}
.product-about .price {
    color: var(--title);
    font-family: var(--title-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: capitalize;
}
.product-about .text {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 35px;
}
.product-about .product-title {
  color: var(--title);
  font-family: var(--title-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: capitalize;
}
.product-about .product-rating {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-2);
}
.product-about .share {
  display: flex;
  align-items: center;
  gap: 20px;
}
